html, body {
    background-color: #fff;
    color: #636b6f;
}

/* TAULES */
/* Gracies a aquestes 2 classes podem desplaçarnos per les taules depenguen del dispositius en els quals accedim a la web */
.my-custom-scrollbar {
    position: relative;
    max-height: 62vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

table td a, table td button {
    margin-top:5px;
}

table th, table {
    text-align:center;
}

#taulatreballs th {
    border: 1px solid #636b6f;
    border-radius: 2px;
}
